/*css\index.css*/
.hero-section {
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.highlights-section .icon i {
    color: #007bff;
}

.navbar-brand img.logo {
    margin-right: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#content-placeholder {
    flex-grow: 1;
}

footer {
    margin-top: 180px;
}

