<!-- footer.html -->
<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link px-2 text-body-secondary">About</a></li>
            <li class="nav-item"><a href="schedule.html" class="nav-link px-2 text-body-secondary">Schedule</a></li>
            <li class="nav-item"><a href="speaker.html" class="nav-link px-2 text-body-secondary">Speakers</a></li>
            <li class="nav-item"><a href="workshops.html" class="nav-link px-2 text-body-secondary">Workshops</a></li>
            <li class="nav-item"><a href="gallery.html" class="nav-link px-2 text-body-secondary">Gallery</a></li>
            <li class="nav-item"><a href="faq.html" class="nav-link px-2 text-body-secondary">FAQ</a></li>
            <li class="nav-item"><a href="registration.html" class="nav-link px-2 text-body-secondary">Registration</a></li>
            <li class="nav-item"><a href="contact-us.html" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
            <li class="nav-item"><a href="sponsors.html" class="nav-link px-2 text-body-secondary">Sponsors</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2024 Bangkok University</p>
    </div>
</footer>